.App {
  background: antiquewhite;
  text-align: center;
}

header {
  height: 30px;
  //text-align: center;
  font-size: 20px;
  display: flex;
  background-color: cadetblue;

}

div {
  width: 25%;
}